@using ProjectManager.BLL.ViewModels;
@using Microsoft.AspNetCore.Identity
@model ProjectViewModel

@inject UserManager<Employee> UserManager

<input type="hidden" asp-for="Id"/>

<div class="form-group">
    <label asp-for="Title"></label>
    <input asp-for="Title" class="form-control"/>
    <span asp-validation-for="Title" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Title"></label>
    <textarea asp-for="Title" class="form-control"></textarea>
    <span asp-validation-for="Title" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Priority"></label>
    <input asp-for="Priority" class="form-control">
    <span asp-validation-for="Priority" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Priority"></label>
    <input asp-for="Priority" class="form-control">
    <span asp-validation-for="Priority" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Priority"></label>
    <input asp-for="Priority" class="form-control">
    <span asp-validation-for="Priority" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Priority"></label>
    <input asp-for="Priority" class="form-control">
    <span asp-validation-for="Priority" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Priority"></label>
    <input asp-for="Priority" class="form-control">
    <span asp-validation-for="Priority" class="text-danger"></span>
</div>

@*<div class="form-group">
        <label asp-for="WaitUntil"></label>
        <input asp-for="WaitUntil" class="form-control" />
        <span asp-validation-for="WaitUntil" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RepeatAfterType"></label>
        <div class="d-flex justify-content-around">
            <input asp-for="RepeatAfterCount" class="form-control" />
            <select asp-for="RepeatAfterType" class="form-control" asp-items="Html.GetEnumSelectList<RepeatType>()">
            </select>
        </div>

        <span asp-validation-for="RepeatAfterType" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="TaskGroupId"></label>
        <select asp-for="TaskGroupId" class="form-control" asp-items="(await TaskGroupManager.IndexAsync()).SelectList(m => m.Id, m => m.Title)">
        </select>
        <span asp-validation-for="TaskGroupId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AssignedUserId"></label>
        <select asp-for="AssignedUserId" class="form-control" asp-items="UserManager.Users.SelectList(m => m.Id, m => m.UserName)">
        </select>
        <span asp-validation-for="AssignedUserId" class="text-danger"></span>
    </div>*@

<script>
    document.addEventListener("DOMContentLoaded", onReady);

    function onReady() {
        @*$("#@(nameof(Model.WaitUntil))").datepicker();*@
    }

</script>