/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.footer {
    bottom: 0;
    line-height: 60px; /* Vertically center the text there */
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

body, .container {
    min-height: 100%;
    width: 100%;
}

.swipe-container {
    font-size: 14px;
    overflow: hidden;
    position: relative;
}

.swipe-labels {
    align-items: stretch;
    display: inline-flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.swipe-left {
    align-items: center;
    color: white;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: flex-start;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
}

.swipe-right {
    align-items: center;
    color: white;
    display: flex;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-top: 5px;
}

.swipe-bar {
    background-color: white;
    border-bottom: 1px lightgray groove;
    border-top: 1px lightgray groove;
    height: 100%;
    overflow: hidden;
}

.swipe-bar.unassigned { background-color: mintcream; }

.swipe-bar.dragging {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.swipe-bar > i {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.swipe-bar > .swipe-text {
    flex-grow: 1;
    text-align: center;
}