@model ProjectManager.BLL.ViewModels.ProjectViewModel
<div class="media text-muted pt-3">
    <a href="#" class="btn btn-sm btn-success btn-circle mr-2 rounded">
        <i class="fas fa-edit"></i>
    </a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Project "@Model.Title"</strong>
        Manager @(Model?.Manager?.LastName ?? string.Empty) @(Model?.Manager?.FirstName ?? string.Empty)
    </p>
</div>